{% extends 'base.html' %}
{% block title %}
    个人博客
{% endblock %}
{% block nav_blog_active %}active{% endblock %}
{% load staticfiles %}{# 使用静态文件，必须先要加载 #}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">{# 首先要{% load staticfiles %} #}
{% endblock %}
{% block context %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>
                    <div class="panel-body">
                        {% for blog in blogs_by_page_num %}
                            <div class="blog">
                                <h3><a href="{% url 'blog_detail' blog.id%}">
                                    {{ blog.title }}
                                </a></h3>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="{% url 'blog_type_id' blog.blog_type_id %}">{{ blog.blog_type }}</a>
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ blog.create_time|date:"Y-m-d" }}
                                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>阅读({{ blog.get_read_num }})
                                </p>
                                <p>{{ blog.context|striptags|truncatechars:120 }}</p>

                            </div>
                        {% empty %}
                            <div class="blog">
                                <p>暂无博客，敬请期待！</p>
                            </div>

                        {% endfor %}

                    </div>
                </div>
                <div class="page">
{#                    <div aria-label="Page navigation">#}
                        <ul class="pagination">
                            <li>
                                {% if blogs_by_page_num.has_previous %}
                                    <a href="?page={{ blogs_by_page_num.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else %}
                                    <a href="?page={{ blogs_by_page_num.number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% endif %}

                            </li>
                            {% for page_num in page_num_range %}
                                {% if page_num == blogs_by_page_num.number %}
                                    <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% elif page_num != '...' %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% else %}
                                    <li><span>{{ page_num }}</span></li>
                                {% endif %}

                            {% endfor %}
                            <li>
                                {% if blogs_by_page_num.has_next %}
                                    <a href="?page={{ blogs_by_page_num.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    <a href="?page={{ blogs_by_page_num.number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                        <p>共有{{ blogs_by_page_num.paginator.count }}篇博客，当前第{{ blogs_by_page_num.number }}页，共{{ blogs_by_page_num.paginator.num_pages }}页</p>
{#                    </div>#}

                </div>
            </div>
            <div class="hidden-xs col-ms-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog-types">{# 去掉 。 #}
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blog_type_id' blog_type.id %}">{{ blog_type.type_name }} ({{ blog_type.blog_count }})</a>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">日期归档</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_date, blog_count in blog_dates.items %}
                                <li>
                                    <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">{{ blog_date|date:"Y-m" }}({{ blog_count }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>


    </div>




{% endblock %}